@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #333333;
    --cor-secundaria: white;
    --azul1: #3153d0;
    --azul2: #364c93;
    --azul3: #6C63FF;
    --cinza1: #99aab5;
    --cinza2: #2c2f33;
    --cinza3: #23272a;
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: rgb(239, 239, 239);
    font-family: "Seymour", sans-serif;
}


/* Header */

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    background-color: black;
    box-shadow: 0 35px 75px rgba(0, 0, 0, 0.55);
    z-index: 1000;
}


.nome-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.nome-logo img {
    width: 4rem;
    background-color: var(--cor-secundaria);
    border-radius: 20rem;
    height: 4rem;
}

.nome-logo a {
    text-decoration: none;
    margin-right: 1rem;
}

/* NavBar */
.btn-navbar {
    text-decoration: none;
    padding: 10px;
    background-color: var(--cinza1);
    border-radius: 7px;
    margin-left: 1rem;
}

.link-navbar {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    margin-right: 3rem;
}

/* Caixa pesquisa header*/
#pesquisa {
    margin: 0;
}

#caixa-pesquisa {
    height: 30px;
}

/* Header */

/* Footer */
footer {
    margin-top: 5rem;
    background-color: var(--cinza3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.participantes h5 {
    font-size: 20px;
}

.copy-footer {
    display: flex;
    justify-content: center;
    margin: 0.3rem;
}

#versionamento {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer>div>ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

#imgDeV {
    width: 20px;
    border: 4px solid white;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

#imgDeVD {
    width: 15px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.gradiente-branco-azul:hover {
    background: linear-gradient(to bottom, blue, lightblue);
}

#imgDeVG {
    width: 22px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 0.95rem;
    justify-content: center;
}

.gradiente-preto-branco:hover {
    background: linear-gradient(to bottom, #6f42c1, #FFD700);
}

#imgDeVF {
    width: 22px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 0.95rem;
    justify-content: center;
}

#imgDeVF:hover {
    background: linear-gradient(to bottom, #ff0000, #4b0082);
}

#imgDeVT {
    width: 35px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 1rem 0.50rem;
    justify-content: center;
}

#imgDeVT:hover {
    background: linear-gradient(to bottom, #000000, #00008B);
}

#imgLogo {
    display: flex;
    align-items: center;
}

.logoFooter img {
    border-radius: 200rem;
    width: 6rem;
    margin: 1.5rem;
}

.footerFinal {
    display: flex;
    justify-content: center;
    background-color: black;
}

.footerFinal>p {
    color: white;
}

/* Footer */

/* Banner */

.banner {
    padding-top: 4rem;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.img-banner {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.img-banner img {
    max-width: 100%;
    height: auto;
}

.textBox-banner {
    width: 40%;
    height: 50vh;
    margin: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

.text-banner {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.text-banner p {
    color: #000000;
    font-family: "Kanit", sans-serif;
    font-size: 35px;
}

/* Banner */

/* Barra de Pesquisa */
.pesquisa {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

.caixa-pesquisa {
    background: var(--cinza1);
    height: 50px;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.20);
}

.inp-pesquisa {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 20px;
    line-height: 40px;
    transition: .5s;
    width: 100%;
    color: var(--cinza3);
}

::-webkit-input-placeholder {
    color: var(--cinza3);
}

.btn-pesquisa {
    width: 40px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra de Pesquisa */

/* card-box */

.card-box {
    margin-top: 100px;
    border-color: (var(--cor-principal));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 35px 75px rgba(0, 0, 0, 0.45);
    transition: 0.5s;
    margin: 5rem 6rem;
    border-radius: 40px;
    color: #000000;
}

.card:hover {
    width: 600px;
    height: 450px;
}

.card .img-box {
    position: absolute;
    width: 250px;
    height: auto;
    transition: 0.5s;
}

.card:hover .img-box {
    scale: 0.50;
    opacity: 0.3;
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .text-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
    font-size: 1.3rem;
}

.card:hover .text-box {
    top: 50px;
    height: 450px;

}

.text-box h1 {
    margin-top: 25px;
    font-size: 1.5;
    color: #000000;
}


.text-box p {
    margin: 0 3rem;
    color: #000000;
}

.text-box a,
.text-box h4 {
    color: #000000;
}

.linguagens {
    margin-top: 2rem;
}

/* card-box */